@media (max-width: 900px) {
  .tituloMcg {
    font-size: 36px;
  }

  .divCounterMcg {
    gap: 12px;
    padding: 0 8px;
  }

  .divRellenoMcg {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .divTituloMcg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .botonVolverMcg {
    margin-top: 0;
  }

  .tituloMcg {
    font-size: 28px;
  }

  .tituloMcg > img {
    height: 30px;
  }

  .divRellenoMcg {
    display: none;
  }

  .divCounterMcg {
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .botonVolverMcg {
    width: 82px;
    font-size: 16px;
  }

  .counterDivMcg {
    min-width: 105px;
    text-align: center;
  }
}